{
    "presets": [
        ["@babel/env", {
          "modules": false,
          "useBuiltIns": "usage"
        }]
      ],
    "env": {
        "test": {
            "plugins": ["@babel/plugin-transform-runtime",
                "@babel/transform-runtime",
                "@babel/transform-async-to-generator"
            ]
        }
    }
}
